{#

Description text for the Livechat module.

#}

{% set block_admin_page = url('block.admin_display')['#markup'] %}

{% trans %}

<p>This module Provides a Livechat Block to place the Livechat widget on your drupal.<br>
  Administrate it from <a href="{{ block_admin_page }}">the block admin page</a>.</p>

{% endtrans %}
